<!doctype html>
<html lang="de" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kunden</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<h1>Kunden</h1>
<table class="table table-striped">

    <thead>
    <tr th:each="kunde : ${kunden}">
        <th th:text="{kunde.name}">Name</th>
        <th th:text="{kunde.stadt}">Stadt</th>
        <th th:text="{kunde.plz}">PLZ</th>
        <th th:text="{kunde.autos}">Autos</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Vorwerk & Co. KG</td>
        <td>Wuppertal</td>
        <td>89140</td>
        <td>
            <ul>
                <li>Volkswagen -- schwarz (2000 ccm)</li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>